$base-color: #0dc441;

 @font-face {font-family: "yofont";
          src: url('/images/fonts/iconfontclassify.eot'); /* IE9*/
          src: url('/images/fonts/iconfontclassify.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/images/fonts/iconfontclassify.woff') format('woff'), /* chrome, firefox */
          url('/images/fonts/iconfontclassify.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('/images/fonts/iconfontclassify.svg#iconfont') format('svg'); /* iOS 4.1- */
        }

@font-face {font-family: "yofont";
  src: url('/images/fonts/iconfontnav.eot?t=1483450299543'); /* IE9*/
  src: url('/images/fonts/iconfontnav.eot?t=1483450299543#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/iconfontnav.woff?t=1483450299543') format('woff'), /* chrome, firefox */
  url('/images/fonts/iconfontnav.ttf?t=1483450299543') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/iconfontnav.svg?t=1483450299543#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "yofont";
  src: url('/images/fonts/iconfontfooter.eot?t=1483492164149'); /* IE9*/
  src: url('/images/fonts/iconfontfooter.eot?t=1483492164149#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/iconfontfooter.woff?t=1483492164149') format('woff'), /* chrome, firefox */
  url('/images/fonts/iconfontfooter.ttf?t=1483492164149') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/iconfontfooter.svg?t=1483492164149#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "yofont";
          src: url('/images/fonts/iconfont-search.eot'); /* IE9*/
          src: url('/images/fonts/iconfont-search.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/images/fonts/iconfont-search.woff') format('woff'), /* chrome, firefox */
          url('/images/fonts/iconfont-search.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('/images/fonts/iconfont-search.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconfontproduct.eot');
  src: url('/images/fonts/iconfontproduct.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconfontproduct.woff') format('woff'),
  url('/images/fonts/iconfontproduct.ttf') format('truetype'),
  url('/images/fonts/iconfontproduct.svg#iconfont') format('svg');
}
@font-face {
  font-family: "yofont";
  src: url('/images/fonts/iconfont-introduce.eot'); /* IE9*/
  src: url('/images/fonts/iconfont-introduce.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/iconfont-introduce.woff') format('woff'), /* chrome, firefox */
  url('/images/fonts/iconfont-introduce.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/iconfont-introduce.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "yofont";
          src: url('/images/fonts/iconfont-intro.eot'); /* IE9*/
          src: url('/images/fonts/iconfont-intro.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/images/fonts/iconfont-intro.woff') format('woff'), /* chrome, firefox */
          url('/images/fonts/iconfont-intro.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('/images/fonts/iconfont-intro.svg#iconfont') format('svg'); /* iOS 4.1- */
}
